
<h3 align="center">Pick a park from the list below</h3>

<ul class="nav nav-pills nav-justified">
{{#each model.parks as |park|}}
  <li role="presentation">{{#link-to 'plan' park}}{{park}}{{/link-to}}</li>
{{/each}}
</ul>